@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using IdentityProject.Areas.Identity.Data
@using System.Text.Json;
@using Slot = IdentityProject.Models.Slot;
@using IdentityProject.Context;

@inject SignInManager<IdentityProjectUser> SignInManager
@inject UserManager<IdentityProjectUser> UserManager

@section head{

    <link rel="stylesheet" href="~/css/payment_success.css">
}

@{
}

<section class="booking-body">
    <div class="top-content">
        <table class="text-center">
            <tr>
                <td>
                    <span class="form-header--unselected ">CHỌN VÉ</span>
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="56" viewBox="0 0 32 56" fill="none">
                        <path d="M2 54L29.2108 28.7328C29.6369 28.3372 29.6369 27.6628 29.2108 27.2672L16 15L2 2" stroke="black" stroke-opacity="0.5" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </td>
                <td>
                    <span class="form-header--unuselected ">THANH TOÁN</span>
                </td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="56" viewBox="0 0 32 56" fill="none">
                        <path d="M2 54L29.2108 28.7328C29.6369 28.3372 29.6369 27.6628 29.2108 27.2672L16 15L2 2" stroke="black" stroke-opacity="0.5" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </td>
                <td>
                    <span class="form-header--selected ">HOÀN TẤT</span>
                </td>
            </tr>
        </table>
    </div>
    <!--Payment-->
    <div class="container">
        <div class="left-content">
            <div class="qr-code">
            </div>
        </div>
        <div class="right-content">
            <div class="instruction">
                <p class="info">THÔNG TIN VÉ XEM PHIM </p><hr>
                <table>
                    <tr>
                        <td><p class="label">Mã đơn hàng:</p></td>
                        <td>
                            <span id="bi_id">

                            </span></span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Tên phim:</p></td>
                        <td>
                            <span id="mv_name">

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Suất chiếu:</p></td>
                        <td>
                            <span id="sl_id">

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Phòng:</p></td>
                        <td>
                            <span id="r_id">

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Số ghế:</p></td>
                        <td>
                            <span id="st_id">

                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Thời gian thanh toán:</p></td>
                        <td>
                            <span id="bi_date">
                                {{$data['Transaction date']  }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="label">Tổng tiền:</p></td>
                        <td>
                            <span id="bi_value">
                                {{$data['Total'] }}
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>

