################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityProject/Context/CinemaDbContext.cs
/IdentityProject.sln
