@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@section head {
    <link rel="stylesheet" href="~/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">



}
<h1>Xác nhận tài khoản thành công. Chúc bạn có trải nghiệm xem phim vui vẻ tại TCinema!</h1>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
